{% extends 'base.html.twig' %}

{% block title %}	Accueil - {{parent()}}
{% endblock %}

{% block body %}

<section class="landing">
	<div class="landing-overlay">
		<h1> Ludotek, votre compagnon de jeux </h1>
		<p>
			Gérez votre ludothèque facilement et partagez vos critiques.
		</p>
		<a href="{{ path('game_list') }}"class = "button">Découvrir les jeux</a>
	</div>
</section>

{% endblock %}
