<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>
			{% block title %}Ludotek{% endblock %}
		</title>

		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
		<link rel="stylesheet" href="{{ asset('css/reset.css')}}"> 
		<link rel="stylesheet" href="{{ asset('css/app.css')}}"> 
		{% block stylesheets %}
		{% endblock %}
		<script></script>
		{% block javascripts %}
		{% endblock %}
	</head>

	<body>
		{% include "components/header.html.twig"%}
			<main>
				{% block body %}{% endblock %}
			</main>
		{% include "components/footer.html.twig"%}
	</body>

		{#
			Céer un layout pour notre application 
			- Header avec un logo et le nom de l'application seront clicable pour accéder à la page d'accueil 
			- Dans le header un menu avec des lines vers les pages : liste des jeux, connexion, incription
			- Footer avec de faux liens : Mentions légales, politique de conf, CGU
			- Dans le footer la mention "tous droits réservés - année" 
			- (Optionnel) Créer un élément pour accueillir les visiteurs sur la page d'accueil
		#}
		
	</html>
