		<footer>
			<div class="legal">
				<ul>
					<li><a href="#">Mentions Légales</a></li>
					<li><a href="#">Politique de confidentialité</a></li>
					<li><a href="#">CGU</a></li>
				</ul>
				<p>Tous droits réservés - {{date() |date("Y")}}<p>
			</div>
		</footer>