{% extends 'base.html.twig' %}

{% block title %}Hello MainController!
{% endblock %}

{% block body %}
	<div class="form-container">
		<form action="#" method="">
			<div class="formDiv">
				<label for="email">Votre adresse mail</label>
				<input type="email" name="email" placeholder="Emiel" id="email" class="createInput"required>
			</div>
			<div class="formDiv">
				<label for="password">Ton mot de passe couillon</label>
				<input type="password" name="password" placeholder="le mot de passe?" id="password" class="createInput"required>
			</div>
			
			<button type="submit" class="button">valider</button>
		</form>
	</div>
{% endblock %}
